# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Virtual environments
.venv/
venv/
new_venv/
ENV/
env/

# Django files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media & Static files
media/
staticfiles/

# macOS / OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
